/*gridstyles.css*/
/*Add comet effect where the head of the comet creates wider 
 *partial color changes and then, when the comet moves on,
 *they shrink down into a tail
 */
#pagewrapper {

}

#buttoncontainer{
	background-color:#b7d1c4;
	width: 100%;
	text-align: center;
}

button {
	background-color: #efefef;
	border: none;
	padding: 6px;
	color: #555;
	font-size: 15px;
}

form {

}

#gridwrapper{
	background-color: #F38630;
	overflow: auto;
	width: 960px;
	margin: 5px auto;
	height: auto;
}

.grid_square {
	background-color: black;
	float: left;
	border: 1px solid white;
	width: 5px;
	height: 5px;
}

.new_row {

}

p {

}

div {

}

ul {

}